:root {
    --dark-white: #F8F9FA;
    --dark-blue: #051E34;
    --light-blue: #1B72E8;
    --obscure-blue: #165BBA;
    --dark-grey: #E5E5E5;    
}

img {
    max-width: 100%;
    display: block;
}

#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--dark-white);
}

.body-boolean .offcanvas {
    width: 100%;
}
/* Toolbar */
.toolbar {    
    height: auto;
    flex-shrink: 0; 
    padding: 15px 0;     
}

.toolbar-content {
    background-color: white;
}

.bool-logo-mobile {
    width: 50px;
}

.search-bar {
    background-color: var(--dark-grey);
    border-radius: 5px;
}

/* App-content */
.app-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}
/* Sidebar */
.sidebar {
    background-color: var(--dark-blue);
    background-image: url(../img/sidebar-bg.png);     
    width: 70px;
    flex-shrink: 0;
}

/* main content */

.blue-hero {
    background-color: var(--light-blue);
    color: white;
}

.main-body {
    background-color: var(--dark-white);    
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

.bool-badge {
    background-color: var(--obscure-blue);
        
}

.icon-class {
    width: 40px;
    background-color: white;
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {   
    .body-boolean .offcanvas {
        width: 600px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .sidebar {
        width: 150px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }




/* debug */
.debug .toolbar {   
    padding: 15px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.debug .main-content {    
    background-color: blueviolet;    
}

.debug .app-content {
    background-color: orange;     
}

.debug .sidebar {        
    padding: 20px;   
}

.debug .blue-hero{    
    padding: 20px;
        
}

.debug .main-body {
    background-color: white;
    padding: 20px;    
}

